#category{
    width: 100%;
    height: 100%;
}

#category .category-title {
    margin-top: 50px;
}

#category .wrapper_cards{
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: space-between;
    margin-top: 50px;
    gap: 10px;
}

#category .wrapper_cards .card{
    border-radius: 12px;
    width: 350px;
    padding: 10px 3px;
    background-color: #fff;
    text-align: center;
}

#category .about button{
    width: 1215px;
    margin-top: 30px;
    padding: 10px 50px;
    color: #000000;
    border-radius: 12px;
    border: none;
    background-color: #fff;
    font-size: 20px;    
}
