#computers .card-wrapper {
    background: transparent;
    padding-top: 50px;
}

#computers .card-wrapper p {
    margin-bottom: 20px;
}

#computers .card-wrapper .card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    column-gap: 20px;
    row-gap: 20px;
}

#computers .card {
    background-color: #fff;
    width: 195px;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    padding: 30px;
    margin-top: 20px;
}

#computers .card:hover {
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
}

#computers .card img {
    width: 135px;
    margin-top: 8px;
}

#computers .card .card-body {
    padding: 0 10px;
    text-align: center;
}

#computers .card .card-body a {
    text-align: center;
    font-size: 14px;
    color: #000000;
    font-weight: 539;
    text-decoration: none;
    display: block;
}

#computers .card .card-body h6 {
    color: gray;
}


@media only screen and (max-width: 768px) {
    #computers .card {
        width: 160px;
    }

    #computers .card-wrapper .card-container {
        row-gap: 10px;

    }

    #computers .about {
        width: 768px;
        padding: 0;
    }
}

@media only screen and (max-width: 480px) {
    #computers .card {
        width: 150px;
    }

    #computers .card img {
        width: 150px;
        margin-top: 18px;
    }

    #computers .card-wrapper .card-container {
        gap: 20px;
        justify-items: center;
    }
}