.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    min-height: 100vh;
    background-color: #f1f1f16a;
    z-index: 999999;
    backdrop-filter: blur(20px);
    display: grid;
    place-content: center;
}
  
  .load-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100px;
    height: 90px;
    gap: 2px;
  }
  
  .load-wrapper span {
    padding: 6px;
    background-color: #000000;
    height: 100%;
    display: block;
    flex-grow: 1;
    border-radius: 5px;
  }
  
  .load-wrapper span:nth-child(1) {
   animation-name: loadSpan;
   animation-duration: 0.6s;
   animation-timing-function: linear;
   animation-fill-mode: backwards;
   animation-direction: alternate;
   animation-iteration-count: infinite;
  }
  
  .load-wrapper span:nth-child(2) {
      animation-name: loadSpan;
      animation-duration: 0.6s;
      animation-timing-function: linear;
      animation-fill-mode: backwards;
      animation-direction: alternate;
      animation-iteration-count: infinite;
      animation-delay: 0.6s;
  }
  
  .load-wrapper span:nth-child(3) {
      animation-name: loadSpan;
      animation-duration: 0.6s;
      animation-timing-function: linear;
      animation-fill-mode: backwards;
      animation-direction: alternate;
      animation-iteration-count: infinite;
      
   }
  
   .load-wrapper span:nth-child(4) {
      animation-name: loadSpan;
      animation-duration: 0.6s;
      animation-timing-function: linear;
      animation-fill-mode: backwards;
      animation-direction: alternate;
      animation-iteration-count: infinite;
      animation-delay: 0.6s;
  }
  
  .load-wrapper span:nth-child(5) {
      animation-name: loadSpan;
      animation-duration: 0.6s;
      animation-timing-function: linear;
      animation-fill-mode: backwards;
      animation-direction: alternate;
      animation-iteration-count: infinite;
      
   }
  
  
  @keyframes loadSpan {
    from {
      transform: scaleY(0.5);
    }
    to {
      transform: scaleY(1);
    }
  }
  
  
  .loader-hide{
    display: none;
  }