#sold {
    width: 100%;
    height: 100%;
    padding-top: 20px;
}

#sold .wrapper_cards {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(135px, 1fr));
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 50px;
}

#sold .wrapper_cards .card {
    border-radius: 12px;
    width: 100%;
    padding: 20px 15px;
    padding-left: 18px;
    background-color: #fff;
    text-align: center;
    position: relative;
}

#sold .about button {
    margin-top: 20px;
    border-radius: 8px;
}

#sold .wrapper_cards .card .text h5 {
    color: var(--bg-primary-blue);
}

#sold .wrapper_cards .card .shop a {
    text-decoration: none;
}

#sold .wrapper_cards .card .shop {
    align-items: center;
    text-align: center;
    display: flex;
    text-align: center;


}

#sold .wrapper_cards .card .shop button {
    width: 110px;
    height: 40px;
    border-radius: 8px;
    font-size: 14px;
    font-weight: 539;
    border: none;
    background-color: var(--bg-primary-blue);
    color: #fff;
}

#sold .wrapper_cards .card .shop button:hover {
    background-color: rgba(14, 14, 234, 0.548);
    cursor: pointer;
}

#sold .wrapper_cards .card .shop i {
    margin-top: 5px;
    margin-left: 20px;
    font-size: 25px;
}

#sold .about button {
    width: 100%;
    padding: 7px 50px;
    background-color: #fff;
    border: none;
    font-weight: 500;
}

#sold .wrapper_cards .card .like button {
    width: 50px;
    height: 50px;
    background-color: transparent;
    border: none;
    font-size: 23px;
    position: absolute;
    top: 0;
    right: 0;

}

@media only screen and (max-width: 768px) {
    #sold .wrapper_cards {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(10px, 5fr));
        flex-wrap: wrap;
        gap: 1px;
    }


    #sold .wrapper_cards .card {
       width: 100%;
    }
}